@import "helper";

.abaris-modal {
	.fancybox-close{
		background-image: url('../img/close_window.gif');
		width: 21px;
		height: 21px;
		top: 13px;
		right: 13px;
	}
	.fancybox-skin{
		@include box_shadow(1px, 1px, 1px, 0, #000);
		@include border_radius(0);
		border: 1px solid #6e6e6e;
	}
	.fancybox-inner{
		border: 1px solid #9b9b9b;
	}
}