.red {
  font-size: 12px; }

.admin-steps {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1; }
  .admin-steps .step {
    width: 20%;
    float: left;
    height: 100px; }
    .admin-steps .step a {
      text-decoration: underline; }
  .admin-steps .big {
    font-size: 53px;
    color: #717171;
    padding-right: 10px; }
  .admin-steps td {
    vertical-align: middle;
    height: 100px; }
  .admin-steps .active .big {
    color: #ff665d; }
  .admin-steps .active a {
    color: #717171;
    text-decoration: none; }

.catalog-container {
  margin-bottom: 0; }
  .catalog-container .calendar {
    width: 80%;
    background: no-repeat 95% center url("../img/calendar.gif"); }
  .catalog-container input, .catalog-container select {
    width: 90%;
    border: none;
    background: none;
    background-color: white;
    padding: 3px;
    color: #717171;
    -webkit-box-shadow: inset 1px 1px 2px 1px #aaaaaa;
    box-shadow: inset 1px 1px 2px 1px #aaaaaa; }

.check {
  width: 28px;
  height: 23px;
  margin: 0 auto;
  display: block; }

.grey-check {
  background: no-repeat 0 0 url("../img/cart_checks.png"); }

.blue-check {
  background: no-repeat 0 -23px url("../img/cart_checks.png"); }

.icons {
  font-size: 11px; }
  .icons a {
    color: white;
    text-decoration: none; }

.cart-icon {
  width: 55px;
  height: 40px;
  margin: 0 auto; }

.delete-icon {
  background: no-repeat -110px 0 url("../img/cart_icons.png"); }

.add-icon {
  background: no-repeat -220px 0 url("../img/cart_icons.png"); }

.save-icon {
  background: no-repeat -275px 0 url("../img/cart_icons.png"); }

.subtotal {
  margin-bottom: 20px; }

.pencil {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  padding: 2px;
  background: no-repeat center url("../img/pencil.gif"); }

.valign-text .bottom {
  vertical-align: bottom;
  padding-bottom: 10px; }

.admin-icon {
  width: 45px;
  height: 30px;
  display: block;
  margin: 0 auto; }

.admin-icon-money-b {
  background: no-repeat 0 0 url("../img/admin-icons.png"); }

.admin-icon-box-b {
  background: no-repeat -45px 0 url("../img/admin-icons.png"); }

.admin-icon-print-b {
  background: no-repeat -90px 0 url("../img/admin-icons.png"); }

.admin-icon-money-g {
  background: no-repeat 0 -30px url("../img/admin-icons.png"); }

.admin-icon-box-g {
  background: no-repeat -45px -30px url("../img/admin-icons.png"); }

.active-grey {
  background-color: #f1f1f1;
  border-top: 1px dashed #dadada;
  border-bottom: 1px dashed #dadada; }

.pay-types {
  padding: 20px 2%;
  font-size: 12px;
  float: left; }

.card {
  width: 29px;
  height: 20px;
  margin: 20px 2px;
  float: left; }

.visa {
  background: no-repeat 0 0 url("../img/payment_cards.gif"); }

.mastercard {
  background: no-repeat 0 -20px url("../img/payment_cards.gif"); }

.abaris-form {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 20px; }
  .abaris-form .type {
    margin-bottom: 20px; }

@media (max-width: 767px) {
  .admin-steps .step {
    height: auto;
    width: 95%;
    margin: 0 auto;
    float: none; }
  .admin-steps .text {
    padding: 0 2%; }

  .abaris-form .row-fluid {
    padding: 0 2%;
    width: 95%; } }
