$grey: #717171
$red: #ff665d

.order
	a, a:visited
		color: $blue
	.steps
		color: $grey
		font-size: 12px
		span
			color: $red
	.step-type
		color: $red
		padding: 25px 0
		font-size: 18px
	.abaris-form
		padding: 40px 0
	.row
		font-size: 12px
		margin-bottom: 30px
	.card
		width: 29px
		height: 20px
		margin-top: -5px
	.visa
		background: no-repeat 0 0 url('../img/payment_cards.gif')
	.mastercard
		background: no-repeat 0 -20px url('../img/payment_cards.gif')
	.cards, .types
		float: left
	.cards
		width: 29px
		margin-left: 10px
		margin-top: 10px
	.grey
		color: $grey
	.req-info
		padding: 0
	.call
		span
			color: $red
	.tt
		position: relative
		text-align: left
		cursor: pointer
	.tooltip
		opacity: 1
		.tooltip-inner
			background-color: #fff
			color: $grey
			border-radius: 0
			border: 1px solid #f00
		.tooltip-arrow
			background: no-repeat center url("../img/corner.png")
			width: 18px
			height: 14px
			bottom: -8px
			margin-left: -5px
			border-width: none
			border: none
		&.top
			margin-top: -15px
.order-step3
	color: $grey
	margin-top: 0
	.black
		color: #000
	.clear
		padding: 0
		margin-bottom: 0
	.abaris-form
		padding-top: 0

#order-form-step2
	.row
		margin-bottom: 10px
	.offset
		margin-bottom: 20px

.catalog-container
	margin-bottom: 0 !important
	.left p
		text-align: left
	a, a:visited
		color: $blue
